/* 表格 */
.magic-table{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.magic-table .magic-table-body{
    flex: 1;
    overflow: auto;
}
.magic-table .magic-table-header,
.magic-table .magic-table-body .magic-table-row {
  display: flex;
  height: var(--magic-table-row-height);
  line-height: var(--magic-table-row-height);
  border-bottom: 1px solid var(--main-border-color);
}
.magic-table .magic-table-body .magic-table-row:hover{
  background-color: var(--main-hover-background-color);
}
.magic-table .magic-table-column {
  flex: 1;
  display: inline-flex;
}

.magic-table .magic-table-column span:last-child{
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 0px;
  white-space: pre;
}

.magic-table .magic-table-column .magic-select{
  width: 100%;
}
.magic-table__border .magic-table-body .magic-table-row{
    border-bottom: 1px solid var(--table-border-color);
}
.magic-table__border .magic-table-column:not(:last-child){
    border-right: 1px solid var(--table-border-color);
}