.magic-tab {
  width: 100%;
  overflow: hidden;
  flex-wrap: nowrap;
  white-space: nowrap;
  transition: 0.3s;
}
.magic-tab ul {
  overflow-x: auto;
}
.magic-tab ul li {
  display: inline-block;
  cursor: pointer;
  padding: 0 10px;
  height: 24px;
  line-height: 24px;
}
.magic-tab ul li.selected,
.magic-tab ul li:hover,
.magic-tab.magic-script-tab ul li.selected:hover,
.magic-tab ul li.draggable-target-item {
  background-color: var(--main-hover-background-color);
}
.magic-tab.magic-script-tab {
  border-bottom: 1px solid var(--main-border-color);
  height: 30px;
  position: absolute;
}
.magic-tab.magic-script-tab ul li {
  height: 30px;
  line-height: 30px;
  border-bottom: 3px solid transparent;
}
.magic-tab.magic-script-tab ul li.selected {
  border-bottom-color: var(--tab-selected-border-color);
  background-color: var(--tab-selected-background-color);
}
