/* 树形菜单 */
.magic-tree{
  position: relative;
  overflow: auto;
}
.magic-tree > ul {
  position: absolute;
  top: 0;
  left: 0;
}
.magic-tree .magic-tree-item {
  height: 20px;
  line-height: 20px;
  transition: 0.3s;
  word-break: break-all;
  white-space: nowrap;
  /* display: inline-flex;
  min-width: 100%; */
}
.magic-tree .magic-tree-item:hover,
.magic-tree .magic-tree-item.selected,
.magic-tree .magic-tree-item.draggable-target-item {
  background-color: var(--tree-hover-background-color);
}
.magic-tree .magic-tree-item .magic-icon {
  fill: var(--tree-icon-color);
  margin-right: 2px
}
.magic-tree ul {
  max-height: 99999px;
  min-width: 100%;
}
.magic-tree li{
  /* min-width: 100%; */
  white-space: nowrap;
  word-break: break-all;
}
.magic-tree .hide {
  opacity: 0;
  max-height: 0;
  position: relative;
  /* transition: 0.2s display ease1s; */
}
.magic-tree svg:not(.root) .magic-icon-datasource{
	fill: #089910;
}
