target
*.iml
out/
.idea
.classpath
.project
.settings
bin/
.myeclipse
magic-api-plugins/magic-api-plugin-component/src/console/node_modules
magic-api-plugins/magic-api-plugin-task/src/console/node_modules
